.wrap {
  // width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10px 1fr 30px 390px 30px 1fr 10px;
  grid-template-rows: repeat(8, 100px)
}
.phome {
  grid-column: 4 / span 1;
  position: relative;
}
.botSays {
  grid-column: 2 / span 1;
  justify-self: end;
}
.userSays {
  grid-column: 6 / span 1;
}
.bot, .editSays, .pathSays {
  max-width: 400px;
width: 100%;
}
.user, .editSays, .pathSays {
  max-width: 400px;
width: 100%;
}